package {{ item | lower}}

import (
    client "github.com/bailey84j/acs-go/acs/base/client"
)

type {{ item }} struct {
	Client client.Client
}

func (a {{ item }}) Get() {

}

func (a {{ item }}) Put() {

}
