{% for item in acs_paths %}
{{ item | lower }} "github.com/bailey84j/acs-go/acs/base/{{ item | lower }}"
{% endfor %}

--------------------------------------------

{% for item in acs_paths %}
{{ item }}                *{{ item | lower }}.{{ item }}
{% endfor %}

---------------------------------------------
{% for item in acs_paths %}
{{ item }} : &{{ item | lower }}.{{ item }} {
			Client: client,
		},
{% endfor %}